
main {
  background-color: #f7f9eb;
  padding: 20px;
}

.container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .content {
    flex: 1;
    padding-right: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

  .headers h1{
    color: #F79944;
    font-weight: 53 bold;
    font-size: 40px;
  }
  .headers p {
    font: size 22px;;
   color: #5B5B5A;
  }