
main {
  background-color: #f7f9eb;
  padding: 20px;
}

.container {
  background-image: url("img/12.png");
  background-size: cover;
  background-position: center;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .container p {
    font-size: 22px;
    color: #5B5B5A;
  }
  
  .content {
    flex: 1;
    padding-right: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

  .container2 {
    background-image: url("img/13.png");
    background-size: cover;
  background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .container2 p {
    font-size: 22px;
    color: #5B5B5A;
  }

  .container2 a {
    font-size: 22px;
    font-weight: bold;
    color: #5B5B5A;
  }

  .image2 {
    flex: 1;
    padding-right: 20px;
    text-align: right;
  }
  
  .content2 {
    flex: 1;
    padding-left: 20px;
    text-align: left;
    font-size: 22px;
  }
  
  .image2 img {
    max-width: 100%;
    height: auto;
  }

  .container3 {
    background-image: url("img/14.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .container3 p {
    font-size: 22px;
    color: #5B5B5A;
  }
  
  .image3 {
    flex: 1;
    padding-right: 20px;
    text-align: right;
  }
  
  .content3 {
    flex: 1;
    padding-left: 20px;
    text-align: left;
  }
  
  .image2 img {
    max-width: 100%;
    height: auto;
  }

  .headers h1{
    color: #F79944;
    font-weight: 53 bold;
    font-size: 40px;
  }
  .headers p {
    font-size: 22px;
   color: #5B5B5A;
  }
  
  .two-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  h3{
    display: flex;
  color: #F79944;
  font-weight: 53 bold;
  text-align: left;
  font-size: 28px;
  padding-left: 10%;
  }
  
  
  .column {
    padding: 10px;
    margin-top: 10px;
  }
  
  .column img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
  }

 
  .two-column img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  
  
  .column h2 {
  color: #F7AD44;
  font-weight: 43 bold;
  text-align: left;
  padding-left: 30%;
  }
  
  .column p {
    font: size 22px;;
   color: #5B5B5A;
   text-align: left;
   padding-left: 30%;
  }
  