/* styles.css */
footer {
    background-color: #f7f9eb;
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 50px;
    margin: 0 10px;
}

.four-column {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  




