/* styles.css */
footer {
    background-color: #f7f9eb;
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: right;
}

.logo-container img {
    height: 50px;
    margin: 0 10px;
}

.four-column {
    display: flex;
  }
  
  .columna {
    flex: 1;
    padding: 10px;
  }
  
  .columna h2 {
    font-size: 38px;
    font-weight: bold;
    color: #F7AD44;
  }
 

  .columna p {
    font-size: 22px;
    color: #5B5B5A;
  }
  .columnb {
    flex: 1;
    padding: 10px;
  }
  
  .columnb h2 {
    font-size: 38px;
    font-weight: bold;
    color: #5B5B5A;
  }

  .columnb h3 {
    font-size: 38px;
    font-weight: bold;
    color: #ADCAEB;
  }


  .columnb h1 {
    font-size: 30px;
    font-weight: bold;
    color: #F7AD44;
  }

  .columnb p {
    font-size: 22px;
    color: #5B5B5A;
  }

  .columnb a {
    font-size: 22px;
    color: #5B5B5A;
  }

  .columnc {
    flex: 1;
    padding: 10px;
  }
  
  .columnc h2 {
    font-size: 38px;
    font-weight: bold;
    color: #5B5B5A;
  }

  .columnc p {
    font-size: 22px;
    color: #5B5B5A;
  }

  .columnd {
    flex: 1;
    padding: 10px;
  }
  
  .columnd h2 {
    font-size: 38px;
    font-weight: bold;
    color: #5B5B5A;
  }

  .columnd p {
    font-size: 22px;
    color: #5B5B5A;
  }




