/* styles.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7f9eb;
}

.logo img {
    height: 50px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #f79944;
    font-size: 22px;
    font-weight: bold;
    padding: auto;
}

.search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 5px 10px;
    background-color: F7AD44;
    color: #333;
    border: none;
}

.button a {
    padding: 5px 10px;
    background-color: #F7AD44;
    color: #333;
    text-decoration: none;
}