main {
  background-color: #f7f9eb;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.headers h1{
  color: #F79944;
  font-weight: 53 bold;
}
.headers p {
  font: size 22px;;
 color: #5B5B5A;
}

.two-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h3{
color: #F79944;
font-weight: 53 bold;
text-align: left;
padding-left: 10%;
}

.one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.column {
  padding: 10px;
  margin-top: 10px;
}

.column img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

.one-column img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.two-column img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}


.column h2 {
color: #F7AD44;
font-weight: 43 bold;
text-align: left;
padding-left: 30%;
}

.column p {
  font: size 22px;;
 color: #5B5B5A;
 text-align: left;
 padding-left: 30%;
}

.column-activity{
  padding: 10px;
  margin-top: 10px;
}
.column-program {
  padding: 10px;
  margin-top: 10px;
}
.column-calendar {
  padding: 10px;
  margin-top: 10px;
}

.column-calendar img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}
.column-program {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}
.column-activity img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.column-activity button {
  padding: 10px 20px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}
.column-program button {
  padding: 10px 20px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}
.column-calendar button {
  padding: 10px 20px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}