main {
  background-color: #f7f9eb;
  padding: 20px;
  align-items: center;
}

.two-column {
  display: flex;
}

.one-column {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column img {
  max-width: 50%;
  height: auto;
}