main {
    background-image: url("img/12.png"), url("img/13.png"), url("img/14.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top, center center, center bottom;
    background-size: cover, cover, cover;
  
  background-color: #f7f9eb;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.headers h1{
  color: #F79944;
  font-weight: bold;
  font-size: 53px;
}
.headers p {
font-size: 22px;
 color: #5B5B5A;
}

.two-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h3{
  display: flex;
color: #F79944;
font-weight: bold;
text-align: left;
font-size: 53px;
padding-left: 10%;
margin-top: 200px;
}



.one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  text-align: left;
  align-self: center;
  padding-left: 10%;
}

button {
  padding: 20px 40px;
  font-size: 22px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
  color: #f7f9eb;
  border-radius: 20px;
  align-self: center;
  margin-left: 40px;
}

.column-center p {
  font-size: 22px; /* Adjust the font size as needed */
  color: #5B5B5A;
}


.column {
  padding: 10px;
  margin-top: 10px;
}

.column img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.column-center button {
  padding: 20px 40px;
  font-size: 22px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
  color: #f7f9eb;
  border-radius: 20px;
  align-self: center;
  margin-right: 40px;
}

#centered button {
  padding: 20px 40px;
  font-size: 22px;
  background-color: #F7AD44;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
  color: #f7f9eb;
  border-radius: 20px;
  align-self: center;
}



.one-column img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.two-column img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}


.column h2 {
color: #F7AD44;
font-weight: bold;
font-size: 43;
text-align: left;
padding-left: 30%;
}

.column p {
  font-size: 22px;
 color: #5B5B5A;
 text-align: left;
 padding-left: 30%;
}

.column-calendar,
.column-program {
  text-align: center;
}

.column-calendar img,
.column-program img {
  width: 50%;
  height: auto;
}

.column-calendar button,
.column-program button {
  background-color: #F7AD44;
  display: flex;
  margin: 10px auto 0;
}
